# Jupyter Notebook
notebook/__pycache__
*.__pycache__
*.pyo
*.pyc
# *.log
# .ipynb_checkpoints
# notebook/.ipynb_checkpoints
# notebook/.ipynb_checkpoints/*
# *.pgm # PGM image files
# data/* # Data files
